import React from "react";

type Props = {}

const {{pascalCase component-name}}: React.FC<Props> = () => {
  // happy coding
  return(
    <div></div>
  )
}

{{pascalCase component-name}}.displayName = "{{pascalCase component-name}}";

export default React.memo({{pascalCase component-name}});
